<a href="https://colab.research.google.com/github/ChitradaPavan/Artificial-intelligence-and-machine-learning-/blob/main/Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Task1-create two lists and join those two lists 4

In [12]:
test_list1=[1,14,15,6,5]

In [13]:
test_list2=[3,4,7,12,15]

In [14]:
test_list3 = test_list1 + test_list2

In [16]:
print('Joined list : '+str(test_list3))

Joined list : [1, 14, 15, 6, 5, 3, 4, 7, 12, 15]

In [17]:
# Task2-with 'if' statement find the even numbers

In [22]:
number = int(input("enter a number:"))
if(number % 2)==0:
   print ("The number is even")
else:
   print("The number is not even")

enter a number:64
The number is even

In [23]:
# Task3-create a dictionary with 3 keys & 2 values for eeach key

In [24]:
demo = {'first': [1,2],
        'second': [3,4],
        'third': [5,6]}

In [25]:
example = demo['first']
print(example)

[1, 2]

In [26]:
# Task4-create a function with 'if' statement which is used to find the odd numbers

In [29]:
number = int(input("enter any number:"))
if(number %2)==0:
  print("{0}is not an odd number". format(number))
else:
    print ("{0}is an odd number". format(number))

enter any number:19
19is an odd number

In [33]:
# Task5-write a python function to sum all the numbers in a list
  # sample list : (8,2,3,0,7)
  # expected output : 20

In [43]:
list1=[8,2,3,0,7]

In [45]:
total = sum(list1)

In [46]:
print("the sum of elements in list:",total)

the sum of elements in list: 20